version: "3.8"

services:
   # --- BASE DE DATOS (MongoDB) ---
   mongodb:
      image: mongo:latest
      container_name: mongo_iot_db
      restart: always
      ports:
         - "27017:27017"
      volumes:
         - mongo_data:/data/db
      environment:
         MONGO_INITDB_ROOT_USERNAME: iot_admin
         MONGO_INITDB_ROOT_PASSWORD: 940194

   # --- BROKER MQTT (Mosquitto) ---
   mosquitto:
      image: eclipse-mosquitto:latest
      container_name: mosquitto_broker
      restart: always
      ports:
         - "1883:1883" # Puerto estándar para ESP32/Python
         - "9001:9001" # Puerto para WebSockets
      volumes:
         - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
         - mosquitto_data:/mosquitto/data
         - mosquitto_log:/mosquitto/log

   # Node-RED: Orquestación y Dashboard
   node-red:
      image: nodered/node-red:latest
      container_name: nodered_core
      ports:
         - "1880:1880" # UI y Editor
      environment:
         - TZ=America/Hermosillo
      volumes:
         - ./node_red_data:/data # Persistencia de flujos
      networks:
         - iot_net
      depends_on:
         - mosquitto # Espera al broker

   # DeepStack: Visión por Computadora Local
   deepstack:
      image: deepquestai/deepstack:cpu
      container_name: deepstack_vision
      ports:
         - "5000:5000"
      environment:
         - VISION-SCENE=True # Detección de escenas
         - VISION-DETECTION=True # Detección de objetos
         - VISION-FACE=True # Reconocimiento facial (Requerido para accesos)
      networks:
         - iot_net

volumes:
   mongo_data:
   mosquitto_data:
   mosquitto_log:

networks:
   iot_net:
      driver: bridge
